.payment-dialog {
  min-width: 300px;
  max-width: 500px;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.spinner {
  margin-right: 8px;
}
